*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1{
    padding: 30px;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(207, 195, 19);
}

header p{
    font-size: 1.5rem;
    margin-right: 20px;
    color: rgb(207, 195, 19);
    font-weight:700;
    list-style-type: none;
}

header  a{
    text-decoration: none;
}


.conter{
    width: 98%;
    height: auto;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    width: 100%;
}

.container img {
    width: 100%;
    height: 200px;      /* Aumentei o tamanho */
    object-fit: cover;  /* Mantém proporção sem distorcer */
    border-radius: 8px; /* opcional */
}

@media screen and (max-width:468){
.container img {
    width: 100%;
    display: block;
    height: 500px;      /* Aumentei o tamanho */

}
}
